$mainColor: #00A651;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1140px) {
    .container {
        padding: 0px 15px;
    }
}

// ***** BTN STYLE ***** //

.btn {
    padding: 13px 67px;
    background-color: $mainColor;
    border-radius: 10px;
    border: 4px solid $mainColor;
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.btn:hover {
    transition: .2s ease-in-out;
    background: none;
}

// ***** POP-UP ***** //

.pop__up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 100;
    transform: scale(0);
    transition: .3s ease-in-out;
}

.pop__up.active {
    transform: scale(100%);
    background-color: rgba(0, 0, 0, .8);
}

.pop__up-container {
    display: flex;
    width: 100%;
    height: 100%;

}
.pop__up-body {
    margin: auto;
    width: 580px;
    background-color: #FFFFFF;
    border-radius: 18px;
    text-align: center;
    padding: 60px 25px;
    position: relative;
}

.pop__up-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.pop__up-img {
    margin-top: 40px;
}


.pop__up-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
}


// ***** NAVBAR ***** //

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
}
  
  .navbar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
  }
  
  .navbar__logo-img {
    width: 60px;
  }

  .menu__icon {
    display: none;
  }
  
  .menu__list {
    list-style: none;
  }
  
  .menu__list li {
    margin: 0px 0px 0px 20px;
  }
  
  .menu__link {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
  }
  
  .menu__link:hover {
    text-decoration: underline;
  }
  
  @media (min-width: 767px) {
    .menu__list {
      display: flex;
      align-items: center;
    }
  
    .menu__list li {
      padding: 10px 0;
    }
  }
  
  @media (max-width: 767px) {
    .navbar__logo-img {
      width: 80px;
    }
  
    .menu__icon {
      display: block;
      z-index: 5;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
    }
  
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #fff;
    }
  
    .menu__icon::before,
    .menu__icon::after {
      content: "";
    }
  
    .menu__icon::before {
      top: 0;
    }
  
    .menu__icon::after {
      bottom: 0;
    }
  
    .menu__icon span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
  
    .menu__icon._active span {
      transform: scale(0) translate(0px, -50%);
    }
  
    .menu__icon._active:before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }
  
    .menu__icon._active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  
    .navbar__menu-body {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(-100%, 0px);
      background-color: rgba(0, 0, 0, 0.9);
      padding: 100px 30px 30px 30px;
      transition: all 0.3s ease 0s;
    }
  
    .navbar__menu-body._active {
      transform: translate(0px, 0px);
    }
  
    .menu__list li {
      margin: 0px 0px 30px 0px;
    }
  
    .menu__list li:last-child {
      margin-bottom: 0;
    }
  
    .menu__link {
      font-size: 24px;
    }
  }

@media (max-width: 500px) {
    
    .navbar__logo-img {
        width: 60px;
    }

}



// ***** HEADER ***** //

.header {
    height: 100vh;
    background: url(../img/header_bg.png);
    background-size: auto;
}

.header__content {
    width: 100%;
    height: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}

.header__title {
    font-style: normal;
    font-weight: 800;
    font-size: 75px;
    color: #FFFFFF;
    text-align: center;
    max-width: 750px;
}

.header__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin: 60px 0px 40px 0px;
    max-width: 750px;
    text-align: center;
}

@media (max-width: 1000px) {

    .header__title {
        font-size: 50px;
    }

    .header__subtitle {
        width: 100%;
        margin: 40px 0px 40px 0px;
    }
}

@media (max-width: 550px) {

    .header__title {
        font-size: 40px;
        max-width: 450px;
    }

    .header__subtitle {
        margin: 20px 0px 20px 0px;
    }
}


// ***** OUR SERVICES ***** //

.our__services {
    padding: 80px 0px 80px 0px;
}

.services__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}

.services__content {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__block {
    background-color: #F9F9F9;
    border-radius: 15px;
}

.our__services-content {
    background-color: #F9F9F9;
    border-radius: 15px;
    padding: 40px 20px;
    cursor: pointer;
}

.our__services-content:hover {
    transition: .2s ease all;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.block__icon {
    margin-bottom: 44px;
    height: 50px;
}
.block__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-bottom: 19px;
}
.block__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    max-width: 325px;
}

@media (max-width: 1125px) {
    .our__services-content:last-child {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .our__services {
        padding: 40px 0px;

        .services__content {
            flex-direction: column;
            margin-top: 20px;
        }

        .our__services-content {
            background-color: #FFFFFF;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
            padding: 30px 0px 30px 30px;
            max-width: 356px;
            margin: 20px auto 0px auto;

            .block__icon {
                height: 45px;
                margin: 0;
            }
            
            .block__title {
                margin: 0;
                margin-top: 14px;
            }

            .block__text {
                margin-top: 14px;
            }
        }

        .our__services-content:first-child {
            margin-top: 0px;
        }
    }
}

@media (max-width: 500px) {
    .our__services {
        padding: 20px 0px;

        .services__content {
            margin-top: 20px;
        }

        .services__title {
            font-size: 24px;
        }

        .our__services-content {
            width: 100%;
            margin: 20px auto 0px auto;
            padding: 20px 0px 20px 20px;
    
            .block__title {
                font-size: 18px;
                margin-top: 16px;
            }
    
            .block__text {
                font-size: 14px;
                font-weight: 300;
                margin-top: 16px;
                max-width: 235px;
            }
        }
    }

}

// ***** STATS ***** //

.stats {
    background: url(../img/stats_bg.png);
    background-size: 100%;
    padding: 80px 0px 80px 0px;
}

.stats__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
}

.stats__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-align: center;
    max-width: 750px;
    margin: 20px auto 0px auto;
}

.stats__block-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}

.stats__block {
    background-color: #FFFFFF;
    padding: 44px 68px;
    border-radius: 15px;
    
    .stats__block-text {
        width: 128px;
        text-align: center;
    }

    .stats__block-icon {
        height: 43px;
    }
    
    .stats__block-title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        color: #000000;
        margin-top: 15px;
    }
    
    .stats__block-subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #000000;
        margin-top: 15px;
    }
}

@media (max-width: 1085px) {
    .stats__block:last-child {
        margin-top: 20px;
    }
}

@media (max-width: 788px) {
    .stats__block-third {
        margin-top: 20px;
    }
}

@media (max-width: 823px) {
    .stats__block-third {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    
    .stats {
        padding: 40px 0px;
    }

    .stats__block-content {
        margin-top: 40px;

        .stats__block-last {
            margin-top: 20px;
        }
    }

}

@media (max-width: 550px) {
    
    .stats__block {
        margin: 20px auto 0px auto;
    }

    .stats__block:first-child {
        margin-top: 0px;
    }

}

@media (max-width: 500px) {
    
    .stats {
        padding: 20px 0px;
    }

    .stats__title {
        font-size: 24px;
    }

    .stats__subtitle {
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
    }

    .stats__block-content {
        margin-top: 20px;
    }

    .stats__block {
        margin: 20px auto 0px auto;
    }

    .stats__block:first-child {
        margin-top: 0px;
    }

}

// ***** DISTINATION ***** //


.distination {
    padding: 80px 0px;
}

.distination__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}

.distination__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.distination__bg {
    width: 50%;
}

.distination__bg img {
    width: 100%;
    object-fit: cover;
}

.distination__blocks {
    width: 50%;
    margin-top: 80px;
}

.distination__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 230px;
    border-radius: 15px;
    background-color: #F9F9F9;
    margin-top: 40px;
    cursor: pointer;
}

.distination__block:hover {
    transition: .3s ease all;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.distination__block:first-child {
    margin-top: 0px;
}

.dist__block-img {
    height: 100%;
}

.dist__block-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}

.dist__block-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.dist__block-text {
    max-width: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}
.dist__block-arrow {
    margin-right: 35px;
}

@media (max-width: 1025px) {

    .distination__content {
        display: block;
    }

    .distination__bg {
        display: none;
    }

    .distination__blocks {
        width: 100%;
    }

}

@media (max-width: 700px) {

    .distination__content {
        height: 100%;
    }

    .distination__block {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 500px;
        margin: 0 auto;
        text-align: center;
    }

    .dist__block-img {
        width: 100%;
        height: 230px;
    }

    .dist__block-img img {
        width: 100%;
        border-radius: 15px 15px 0px 0px;
    }

    .dist__block-title {
        margin-top: 20px;
    }

    .dist__block-text {
        margin: 20px auto 20px auto;
    }

    .dist__block-arrow {
        margin: 0px auto 20px auto;
    }

}

@media (max-width: 500px) {
    .distination {
        padding: 20px 0px;

        .distination__title {
            font-size: 24px;
        }
    }

    .distination__blocks {
        margin-top: 20px;

        .distination__block {
            width: 100%;
            height: auto;
            display: block;
            padding: 0px 0px 20px 0px;
            margin-top: 20px;

            .distination__block:first-child {
                margin-top: 0px;
            }

            .dist__block-img {
                height: 220px;
            }

            .dist__block-arrow {
                margin-bottom: 0px;
            }

            .dist__block-arrow svg {
                transform: rotate(90deg);
                height: 25px;
            }
        }
    }
}

// ***** BEST ***** //

.best {
    padding: 80px 0px;
    background-color: #ECF1F0;
}

.best__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}

.best__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}

// *** DESIGN OF BLOCK 'BEST' *** //

.best__block {
    display: block;
    width: 30%;
    background-color: #FFFFFF;
    border-radius: 15px;
}
.best__block-img {
    width: 100%;
}

.best__block-img img {
    width: 100%;
}

.best__block-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px 20px 15px;
}
.best__block-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.best__block-price {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.best__block-text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.81);
    padding: 0px 15px;
}

.best__block-2 {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px 20px 15px;
}

.best__block-geo {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.best__block-more a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #000000;
}

@media (max-width: 960px) {

    .best__block-1 {
        display: block;

        .best__block-title {
            text-align: center;
        }

        .best__block-price {
            text-align: center;
            margin-top: 10px;
        }
    }

    .best__block-text {
        text-align: center;
    }

    .best__block-2 {
        display: block;
        padding: 20px 15px 20px 15px;

        .best__block-geo {
            text-align: center;
        }

        .best__block-more {
            text-align: center;
            margin-top: 10px;
        }

    }

}

@media (max-width: 750px) {

    .best {
        padding: 40px 0px;
    }

    .best__content {
        display: block;
        margin-top: 60px;
    }

    .best__block {
        width: 60%;
        margin: 60px auto 0px auto;
    }

    .best__block:first-child {
        margin-top: 0px;
    }

    .best__block-text {
        padding: 0px 30px;
    }
}

@media (max-width: 500px) {
    .best {
        padding: 20px 0px;

        .best__title {
            font-size: 24px;
        }
    }

    .best__content {
        margin-top: 20px;

        .best__block {
            width: 100%;
            margin-top: 20px;

            .best__block:first-child {
                margin-top: 0px;
            }
            
            .best__block-img {
                height: 250px;
            }

            .best__block-img img {
                height: 250px;
            }

            .best__block-1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 10px;
                font-size: 18px;

                .best__block-price {
                    font-size: 18px;
                    margin-top: 0px;
                }

                .best__block-title {
                    font-size: 18px;
                }
            }

            .best__block-text {
                text-align: left;
                padding: 5px 0px 5px 10px;
                max-width: 200px;
                font-size: 14px;
                font-weight: 300;
            }

            .best__block-2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 10px 10px 10px;

                .best__block-geo {
                    font-size: 18px;
                }

                .best__block-more {
                    margin-top: 0px;
                }

                .best__block-more a {
                    display: block;
                    font-size: 14px;
                }
            }
        }
    }
}

// ***** BOOK NEXT TRIP ***** // 

.book {
    padding: 80px 0px;
}

.book__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.book__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

.book__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.book__steps-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 68px;
    margin-top: 60px;

    .book__block-icon {
        height: 100%;
    }

    .book__block-text {
        margin-left: 30px;
    }

    .book__block-title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #5E6282;
    }

    .book__block-subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #5E6282;
        max-width: 360px;
    }
}

.book__steps-block:first-child {
    margin-top: 0px;
}


@media (max-width: 1000px) {

    .book__img {
        display: none;
    }

}

@media (max-width: 768px) {

    .book {
        padding: 40px 0px;
    }
    
    .book__content {
        display: block;
        margin-top: 40px;
    }

    .book__steps-block {
        max-width: 482px;
        margin: 40px auto 0px auto;
    }

}

@media (max-width: 500px) {
    
    .book {
        padding: 20px 0px;

        .book__title {
            font-size: 24px;
        }

        .book__subtitle {
            font-size: 14px;
            font-weight: 300;
            margin-top: 10px;
        }
    }

    .book__content {
        margin-top: 20px;

        .book__steps-block {
            display: block;
            text-align: center;
            width: 100%;
            height: auto;
            margin-top: 20px;

            .book__block-icon {
                height: 130px;
            }

            .book__block-icon img {
                height: 130px;
            }

            .book__block-text {
                margin: 10px auto 0px auto;
            }

            .book__block-title {
                font-size: 18px;
            }

            .book__block-subtitle  {
                max-width: 100%;
                margin-top: 10px;
            }
        }

    }

}

// ***** SUBSCRIBE ***** //

.subscribe {
    padding: 80px 0px;
}

.subscribe__content {
    width: 100%;
    border-radius: 129px 129px 20px 20px;
    background-color: #ECFFFB;
}
.sub__title {
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    color: #5E6282;
    text-align: center;
    padding: 80px 68px;
}
.sub__form {
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.sub__input {
    width: 60%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #39425D;
    padding: 22px 20px;
}

.sub__btn {
    padding: 12px 30px;
    background: #00A651;
    border: 4px solid #00A651;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;   
}

.sub__btn:hover {
    transition: .3s ease all;
    background: none;
    color: #00A651;
}

@media (max-width: 768px) {

    .subscribe {
        padding: 40px 0px;
    }
    
    .sub__title {
        font-size: 24px;
        padding: 80px 98px 40px 98px;
    }

    .sub__form {
        padding: 0px 98px 80px 98px;
        text-align: center;

        .sub__input {
            width: 100%;
        }

        .sub__btn {
            margin-top: 10px;
        }
    }

}

@media (max-width: 500px) {

    .subscribe {
        padding: 20px 0px;
    }

    .subscribe__content  {
        border-radius: 60px 60px 20px 20px;
    }

    .sub__title {
        font-size: 16px;
        padding: 60px 15px 20px 15px;
    }
    
    .sub__form {
        padding: 0px 15px 60px 15px;
    }
}

// ***** FOOTER ***** //

.footer {
    padding: 80px 0px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo {
    max-width: 200px;

    .footer__logo-subtitle {
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        color: #5E6282;
    }
}

.footer__menu {

    .footer__menu-title {
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        color: #080809;
    }

    .footer__menu-liks {
        list-style-type: none;
        margin-top: 20px;
    }

    .footer__menu-liks a {
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #5E6282;
        margin-top: 20px;
        text-decoration: none;
    }

    .footer__menu-liks li:first-child {
        margin-top: 0px;
    }

}

.footer__social a {
    display: block;
}

.footer__social-icon {
    margin-right: 30px;
}

.footer__social-icon:last-child {
    margin-right: 0px;
}

@media (max-width: 768px) {

    .footer {
        padding: 40px 0px;
    }

    .footer__social-icon {
        display: block;
        margin: 15px 0px 0px 0px;
    }

    .footer__social-icon:first-child {
        margin-top: 0px;
    }

}

@media (max-width: 600px) {

    .footer {
        padding: 20px 0px;
    }
    
    .footer__content {
        display: block;
        text-align: center;

        .footer__logo {
            margin: 0 auto;
        }

        .footer__menu {
            margin-top: 20px;

            .footer__menu-liks {
                margin-top: 10px;
            }

            .footer__menu-liks li {
                margin-top: 10px;
            }
        }

        .footer__menu:first-child {
            margin-top: 0px;
        }

        .footer__social {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .footer__social-icon {
            display: inline;
            margin: 0;
        }
    }

}