$mainColor: #00A651;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1025px) {
    .container {
        padding: 0px 50px;
    }
}

@media (max-width: 550px) {
    .container {
        padding: 0px 15px;
    }
}

// ***** BTN STYLE ***** //

.btn {
    padding: 13px 23px;
    background-color: $mainColor;
    border-radius: 10px;
    border: 4px solid $mainColor;
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.btn:hover {
    transition: .2s ease-in-out;
    background: none;
}

// ***** HEADER ***** //

.header {
    height: 100vh;
    background: url(../img/header_bg.png);
    background-size: auto;
}

.header__content {
    width: 100%;
    height: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}

.header__title {
    font-style: normal;
    font-weight: 800;
    font-size: 75px;
    color: #FFFFFF;
    text-align: center;
    max-width: 780px;
}

.header__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin: 60px 0px 40px 0px;
    max-width: 570px;
    text-align: center;
}

@media (max-width: 1000px) {

    .header__title {
        font-size: 50px;
    }

    .header__subtitle {
        width: 100%;
        margin: 40px 0px 40px 0px;
    }
}

@media (max-width: 550px) {

    .header__title {
        font-size: 40px;
        max-width: 450px;
    }

    .header__subtitle {
        margin: 20px 0px 20px 0px;
    }
}


// ***** OUR SERVICES ***** //

.our__services {
    padding: 80px 0px 80px 0px;
}

.services__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}

.services__content {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.services__block {
    background-color: #F9F9F9;
    border-radius: 15px;
}

.our__services-content {
    background-color: #F9F9F9;
    border-radius: 15px;
    padding: 40px 20px;
    cursor: pointer;
}

.our__services-content:hover {
    transition: .2s ease all;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1025px) {
    .services__content {
        display: block;
    }

    .our__services-content {
        max-width: 500px;
        margin: 40px auto 0px auto;
        text-align: center;
    }

    .our__services-content:first-child {
        margin-top: 0px;
    }
}

.block__icon {
    margin-bottom: 44px;
    height: 50px;
}
.block__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-bottom: 19px;
}
.block__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    max-width: 325px;
}

@media (max-width: 550px) {

    .our__services {
        padding: 60px 0px;
    }

    .services__content {
        margin-top: 20px;
    }

    .our__services-content {
        text-align: center;
        padding: 30px 10px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    }

    .block__icon {
        margin-bottom: 20px;
    }
}

// ***** STATS ***** //

.stats {
    background: url(../img/stats_bg.png);
    background-size: 100%;
    padding: 80px 0px 80px 0px;
}

.stats__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    text-align: center;
    max-width: 520px;
    margin: 0 auto;
}

.stats__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    max-width: 500px;
    margin: 20px auto 0px auto;
    text-align: center;
}

.stats__block-content {
    display: flex;
    justify-content: space-between;
    // flex-shrink: 1;
    flex-wrap: wrap;
    margin-top: 100px;
}

.stats__block {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px ;
    background-color: #FFFFFF;
    margin: 0 auto;
}

@media (max-width: 1025px) {
    .stats__block {
        margin: 10px;
    }
}

@media (max-width: 640px) {
    
    .stats__block {
        margin: 10px auto;
    }
}

@media (max-width: 500px) {

    .stats {
        padding: 60px 0px;
    }

    .stats__block-content {
        margin-top: 20px;
    }
}

.stats__block-text {
    text-align: center;
}

.stats__block-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    margin-top: 30px;
}

.stats__block-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    max-width: 100px;
}

// ***** DISTINATION ***** //


.distination {
    padding: 80px 0px;
}

.distination__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}

.distination__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.distination__bg {
    width: 50%;
}

.distination__blocks {
    width: 50%;
    margin-top: 80px;
}

.distination__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 230px;
    border-radius: 15px;
    background-color: #F9F9F9;
    margin-top: 40px;
    cursor: pointer;
}

.distination__block:hover {
    transition: .3s ease all;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.distination__block:first-child {
    margin-top: 0px;
}

.dist__block-img {
    height: 100%;
}

.dist__block-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}

.dist__block-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.dist__block-text {
    max-width: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}
.dist__block-arrow {
    margin-right: 35px;
}

@media (max-width: 1025px) {

    .distination__content {
        display: block;
    }

    .distination__bg {
        display: none;
    }

    .distination__blocks {
        width: 100%;
    }

}

@media (max-width: 700px) {

    .distination__content {
        height: 100%;
    }

    .distination__block {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 500px;
        margin: 0 auto;
        text-align: center;
    }

    .dist__block-img {
        width: 100%;
        height: 230px;
    }

    .dist__block-img img {
        width: 100%;
        border-radius: 15px 15px 0px 0px;
    }

    .dist__block-title {
        margin-top: 20px;
    }

    .dist__block-text {
        margin: 20px auto 20px auto;
    }

    .dist__block-arrow {
        margin: 0px auto 20px auto;
    }

}

@media (max-width: 500px) {

    .distination {
        padding: 60px 0px;
    }

    .distination__blocks {
        margin-top: 20px;
    }
    
    .distination__block {
        width: 100%;
        margin-top: 40px;
    }

    .distination__block:first-child {
        margin-top: 0px;
    }
    
}

// ***** BEST ***** //

.best {
    padding: 80px 0px;
    background-color: #ECF1F0;
}

.best__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}

.best__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}

// *** DESIGN OF BLOCK 'BEST' *** //

.best__block {
    display: block;
    width: 30%;
    background-color: #FFFFFF;
    border-radius: 15px;
}
.best__block-img {
    width: 100%;
}

.best__block-img img {
    width: 100%;
}

.best__block-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px 20px 15px;
}
.best__block-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.best__block-price {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.best__block-text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.81);
    padding: 0px 15px;
}

.best__block-2 {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px 20px 15px;
}

.best__block-geo {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.best__block-more a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #000000;
}

@media (max-width: 960px) {

    .best__block-1 {
        display: block;

        .best__block-title {
            text-align: center;
        }

        .best__block-price {
            text-align: center;
            margin-top: 10px;
        }
    }

    .best__block-text {
        text-align: center;
    }

    .best__block-2 {
        display: block;
        padding: 20px 15px 20px 15px;

        .best__block-geo {
            text-align: center;
        }

        .best__block-more {
            text-align: center;
            margin-top: 10px;
        }

    }

}

@media (max-width: 750px) {
    .best__content {
        display: block;
        margin: 60px 0px;
    }

    .best__block {
        width: 60%;
        margin-top: 60px;
    }

    .best__block:first-child {
        margin-top: 0px;
    }

    .best__block-text {
        padding: 0px 30px;
    }
}

@media (max-width: 500px) {
    .best__block {
        width: 100%;
    }
}